<button (click)="handleClick()" type="button" [disabled]="disabled"
    [class]="customClass + ' bg-blue-600 hover:bg-blue-700 transition-all flex items-center justify-center whitespace-nowrap text-white cursor-pointer md:text-base rounded-lg text-normal shadow-none py-[0.5rem] px-[0.7rem] md:py-[0.7rem] md:px-[0.7rem] outline-0'"
    [ngClass]="[
    disabled ? 'cursor-not-allowed opacity-80 ' : '',
    status == 'LOADING' ? 'loading' : ''
  ]">
    <!-- <ng-content #body></ng-content> -->
    <div class="flex items-center justify-center gap-2">
        <span><img src="{{ buttonImage }}" class="" /></span>
        <span>{{ buttonText }} </span>
        <span><img [src]="buttonImage2" alt="" /></span>
    </div>
</button>

<!-- Sample -->
<!-- <app-button [buttonText]="'Add Patient Manually'" [customClass]="'w-full'"></app-button> -->